/*
font-family: 'Open Sans', sans-serif; Body
font-family: 'Raleway', sans-serif; Headings, Call-to-actions, Header Navigation
*/

/* Universal */
body  {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(238, 22%, 44%);
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}

.hide {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Image dimensions */
#logo {
  width: 80px;
  height: auto;
}

#hero-img {
  width: 85%;
  height: auto;
  margin: 0 auto;
}

#landing-bg-curve {
  position: absolute;
  width: 100%;
  height: auto;
  top: -53px;
  left: 0;
}

#landing-about-img {
  display: block;
  width: 85%;
  margin: 0 auto;
}

#icon-left-quote {
  width: 13px;
  height: auto;
  margin-bottom: .5rem;
}

#testimonial-pfp-img {
  width: 24px;
  margin-right: .5rem;
  border-radius: 50%;
}

#contact-icon-phone, #contact-icon-email {
  width: 18px;
  height: auto;
  margin-right: 1rem;
}

.footer-social-media-links > li > a > svg {
  width: 14px;
  height: 14px;
}

/* Header */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 50%;
  font-family: 'Raleway', sans-serif;
}

nav > ul {
  display: flex;
  justify-content: space-between;
}
/* Main */

.landing-intro {
  text-align: center;
  margin: 4rem 0;
  padding: 1rem;
}

.landing-intro > h2 {
  font-size: 1.5rem;
  width: 90%;
  margin: 1.5rem auto;
}

.landing-intro > div {
  width: 85%;
  margin: 1.5rem auto;
}

.landing-intro > div {
  display: flex;
  flex-direction: column;
}

.landing-intro > form > input {
  border-radius: 2px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

#input-email {
  width: 89%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border: 1px solid hsl(238, 22%, 44%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#input-email.confirm {
  border-color: hsl(0, 100%, 50%);
}

#input-email::placeholder {
  color: hsl(0, 0%, 75%);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#input-confirm {
  width: 89%;
  margin: .5rem auto 0 auto;
  text-align: start;
  color: hsl(0, 100%, 50%);
}

#input-submit {
  width: 90%;
  margin: 1rem auto;
  padding: .5rem 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 93%, 58%);
  border: 1px solid hsl(224, 93%, 58%);
}

#input-submit:hover {
  background-color: hsla(224, 93%, 58%, .5);
}

.landing-about {
  display: flex;
  flex-direction: column;
  background-color: #F8F8FE;
  position: relative;
  padding: 2rem 1rem 6rem 1rem;
}

.landing-about > h3 {
  margin: 4.5rem auto 1.5rem auto;
  text-align: center;
  font-size: 1rem;
}

.landing-about > div:first-of-type, .landing-about > div:nth-of-type(2) {
  width: 95%;
  color: hsl(0, 0%, 75%);
}

.landing-about > div:nth-of-type(2) {
  margin-top: 1rem;
}

.landing-about > div:nth-of-type(3) {
  display: inline-flex;
  text-align: center;
  align-items: center;
  margin: 2rem auto;
  padding-bottom: 0.25rem;
  color: hsl(170, 45%, 43%);
  border-bottom: 1px solid hsl(170, 45%, 43%);
}

.landing-about > div:nth-of-type(3) > a {
  margin-right: .25rem;
}

.landing-about > div:nth-of-type(3) > a:hover {
  color: hsla(170, 45%, 43%, .5);
}

.landing-testimonial {
  width: 85%;
  margin: 0 auto;
  padding: 1rem 2rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.landing-testimonial > div:first-of-type {
  font-size: 10px;
  line-height: 1rem;
  margin-bottom: 1rem;
}

.landing-testimonial > div:last-of-type {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 24px;
}

.landing-testimonial > div:last-of-type > div:first-of-type {
  width: calc(100% - 25px);
  height: 50%;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}

.landing-testimonial > div:last-of-type > div:last-of-type {
  width: calc(100% - 25px);
  height: 50%;
  font-size: 8px;
}

.landing-early-access {
  padding: 4rem 1rem;
  text-align: center;
  background-color: hsl(238, 22%, 44%);
  color: hsl(0, 0%, 100%);
}

.landing-early-access > h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: hsl(0, 0%, 100%);
}

.landing-early-access > div {
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  color: hsl(240, 75%, 98%);
}

.landing-early-access > form > input:first-of-type {
  background-color: hsl(0, 0%, 100%);
  padding: 0.75rem;
  width: 70%;
  margin-bottom: 1rem;
  border-radius: 2px;
  color: hsl(238, 22%, 44%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

#early-access-email.confirm {
  border: 1px solid hsl(0, 100%, 50%);
}

#early-access-confirm {
  width: 70%;
  margin: -.5rem auto .5rem auto;
  text-align: start;
}

.landing-early-access > form > input:last-of-type {
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 93%, 58%);
  width: 70%;
  padding: 0.75rem;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.landing-early-access > form > input:last-of-type:hover {
  background-color: hsla(224, 93%, 58%, .5);
}

/* Footer */
footer {
  padding: 4rem 2rem;
  background-color: hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
}

footer > div {
  margin: 2rem 0;
}

footer > div > div {
  display: flex;
  align-items: center;
}

footer > div > div:first-of-type {
  margin-bottom: 1rem;
}

.footer-helpful-links {
  margin: 2rem 0;
}

.footer-helpful-links > li {
  margin-bottom: 1rem;
}

.footer-helpful-links > li:nth-of-type(4) {
  margin-bottom: 2rem;
}

.footer-helpful-links > li > a:hover {
  color: hsl(224, 93%, 58%);
}

.footer-social-media-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

.footer-social-media-links > li > a > svg {
  padding: .5rem;
  border: 1px solid hsl(240, 75%, 98%);
  border-radius: 50%;
}

.footer-social-media-links > li > a:hover > svg { 
  border-color: hsl(224, 93%, 58%);
}
.footer-social-media-links > li > a:hover > svg > path {
  fill: hsl(224, 93%, 58%);
}

@media (min-width: 575px) {
  .landing-testimonial {
    width: 60%;
  }
}

@media (min-width: 767px) {
  /* Header */
  nav {
    width: 30%;
  }

  /* Main */
  #hero-img, #landing-about-img {
    width: 70%;
  }

  .landing-intro > h2 {
    width: 75%;
  }

  .landing-intro > div {
    width: 60%;
  }

  #input-email, #input-confirm, #input-submit, #early-access-email, #early-access-confirm, #early-access-submit {
    width: 60%;
  }

  .landing-about > div:first-of-type {
    width: 60%;
    margin: 0 auto;
  }

  .landing-about > div:nth-of-type(2) {
    width: 60%;
    margin: 1rem auto 0 auto;
  }

  .landing-testimonial {
    width: 60%;
  }

  .landing-early-access > div {
    padding: 0 4rem;
  }

  .footer-social-media-links {
    width: 25%;
  }
}

@media (min-width: 922px) {
  header {
    padding: 2rem;
  }

  nav {
    width: 25%;
  }

  .landing-intro {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: min-content;
    margin: 3rem 0 9rem 0;
    padding: 2rem;
    text-align: start;
  }

  #hero-img {
    width: 70%;
    grid-column: 2 / 3; 
    grid-row: 1 / 4;
  }

  .landing-intro > h2 {
    width: 100%;
    margin: 0;
    grid-column: 1 / 2;
    grid-column: 1 / 2;
    align-self: end;
  }

  .landing-intro > div {
    width: 80%;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .landing-intro > form {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
  }

  #input-email {
    width: 55%;
    height: fit-content;
    margin: 0 1rem 0 0;
  }

  #input-confirm {
    width: 100%;
    margin: 0;
    order: 3;
  }

  #input-submit {
    width: 35%;
    height: fit-content;
    margin: 0;
  }

  /* Main .landing-about */
  .landing-about {
    display: grid;
    flex-direction: initial;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, auto);
    padding: 2rem 2rem 6rem 2rem;
  }

  #landing-bg-curve {
    top: -85.5px;
    z-index: -1;
  }

  #landing-about-img {
    width: 80%;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
  }

  .landing-about > h3 {
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
    text-align: start;
  }

  .landing-about > div:first-of-type, .landing-about > div:nth-of-type(2) {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .landing-about > div:nth-of-type(3) {
    text-align: start;
    margin: 0 0 2rem 0;
    width: 35%;
  }

  .landing-testimonial {
    margin: 0;
  }

  .landing-early-access {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(3, auto);
    gap: 0 4rem;
    text-align: start;
    padding: 4rem 2rem;
  }

  .landing-early-access > h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 0 1.5rem 0;
    font-size: 1.5rem;
  }

  .landing-early-access > div {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding: 0;
    margin: 0;
  }

  .landing-early-access > form {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  #early-access-email {
    width: 100%;
  }

  #early-access-confirm {
    width: 100%;
    text-align: start;
  }

  #early-access-submit {
    width: 50%;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem 2rem;
  }

  footer > h2 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  footer > div {
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .footer-helpful-links {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
  }

  .footer-helpful-links > li {
    margin: 0;
    height: 20%;
  }

  .footer-social-media-links {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    align-items: flex-start;
    margin: 0;
    width: 60%;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 3rem;
  }

  #logo {
    width: 166px;
  }

  nav {
    width: 20%;
  }

  .landing-intro {
    grid-template-columns: 45% 55%;
    margin-bottom: 12rem;
    margin-top: 0rem;
    padding: 3rem;
  }

  .landing-intro > h2 {
    font-size: 2rem;
  }

  .landing-intro > div {
    width: 90%;
  }

  #hero-img {
    width: 65%;
  }

  .landing-about {
    padding: 2rem 3rem 6rem 3rem;
  }

  #landing-bg-curve {
    top: -116px;
  }

  .landing-about > h3 {
    font-size: 2rem;
  }

  .landing-testimonial {
    width: 50%;
  }

  .landing-early-access {
    padding: 6rem 3rem;
  }

  .landing-early-access > h3 {
    font-size: 2rem;
  }

  .landing-early-access > div {
    width: 90%;
  }

  .landing-early-access > form {
    justify-self: end;
  }

  footer {
    padding: 6rem 3rem 3rem 3rem;
  }

  .footer-social-media-links {
    width: 50%;
  }
}